#-----------------------------------------------------------------
# common defines
#-----------------------------------------------------------------
API_VERSION = V201909
API_NS = http://ss.yahooapis.jp/V201909

#-----------------------------------------------------------------
# location (for sandbox setting)
#-----------------------------------------------------------------
#LOCATION = sandbox.ss.yahooapis.jp

#-----------------------------------------------------------------
# API Account
#-----------------------------------------------------------------
LICENSE = xxxx-xxxx-xxxx-xxxx
APIACCOUNTID = xxxx-xxxx-xxxx-xxxx
APIACCOUNTPASSWORD = xxxxxx

#-----------------------------------------------------------------
# Onbehalf Account (if sandbox, can not use these params.)
#-----------------------------------------------------------------
#ONBEHALFOFACCOUNTID = xxxxx-xxxxx-xxxxx-xxxxx
#ONBEHALFOFPASSWORD = xxxxxx

#-----------------------------------------------------------------
# Account
#-----------------------------------------------------------------
ACCOUNTID = xxxxxxxx
